<div id="<%= dom_id lesson %>">
  <p>
    <strong>Title:</strong>
    <%= lesson.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lesson.description %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= lesson.paid %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= lesson.course_id %>
  </p>

</div>
